.inner {
  position: relative;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  order: 1;

  &:where([data-label-position="left"]) {
    order: 2;
  }
}

.input {
  appearance: none;
  border: 1px solid var(--primary-color-outlined);
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: var(--checkbox-radius);
  padding: 0;
  display: block;
  margin: 0;
  transition: border-color 100ms ease, background-color 100ms ease;

  -webkit-tap-highlight-color: transparent;

  &[data-indeterminate],
  &:checked {
    background-color: var(--checkbox-color);
    border-color: var(--checkbox-color);
    & + .icon {
      opacity: 1;
      transform: none;
    }
  }

  &:disabled {
    background-color: var(--disabled-color);
    border-color: var(--disabled-border-color);
    cursor: not-allowed;
    pointer-events: none;
    & + .icon {
      color: var(--disabled-border-color);
    }
  }
}

.icon {
  position: absolute;
  inset: 0;
  margin: auto;
  color: var(--checkbox-icon-color);
  pointer-events: none;
  transform: translateY(rem(5px)) scale(0.5);
  opacity: 0;
  transition: transform 100ms ease, opacity 100ms ease;
}
